# 로컬 MySQL 프로파일
SPRING_PROFILES_ACTIVE=local
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=lionthanflower
MYSQL_USERNAME=root
MYSQL_PASSWORD=

# dev PostgreSQL 프로파일
# SPRING_PROFILES_ACTIVE=dev
# SPRING_DATASOURCE_URL=jdbc:postgresql://<host>:<port>/<database>
# SPRING_DATASOURCE_USERNAME=<username>
# SPRING_DATASOURCE_PASSWORD=<password>

# prod PostgreSQL 프로파일
# SPRING_PROFILES_ACTIVE=prod
# SPRING_DATASOURCE_URL=jdbc:postgresql://<host>:<port>/<database>
# SPRING_DATASOURCE_USERNAME=<username>
# SPRING_DATASOURCE_PASSWORD=<password>